.product-section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #3442b5;
    margin-bottom: 40px;
  }
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  margin-left: -12px;
}

.embla__slide {
  flex: 0 0 25%;
  padding-left: 12px;
  
}

.carousel-wrapper {
  position: relative;
}

.carousel-arrow {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  position: absolute;
  top: 40%;
  z-index: 10;

  &:hover {
    transform: scale(1.05);
  }
}

.carousel-arrow.left {
  left: -40px;
}

.carousel-arrow.right {
  right: -40px;
}

.embla {
  overflow: hidden;
 
 
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  gap: 16px;
  position: relative;

  &::before,
  &::after {
    content: '';
    max-width: 360px;
    height: 1px;
    background-color: #dedede;
    flex: 1;
  }

  span {
    font-size: 30px;
    font-weight: 700;
    color: #3442b5;
    white-space: nowrap;
  }

  .view-all {
    position: absolute;
    bottom: -20px;
  }
}
  .view-all {
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 700;
    color: #3f3f40;
    cursor: pointer;
}
  @media (max-width: 768px) {
    .embla__slide {
      flex: 0 0 100%;
      padding-left: 0px;
    }
    .embla {
      overflow: hidden;
    }
    .embla__container {
      margin-left: 0;
    }
    .section-title::before,
    .section-title::after {
      display: none;
  }

    .section-title span {
      font-size: 22px;
  }
  .section-title {
    flex-direction: column;

    &::before,
    &::after {
      display: none;
    }

    span {
      font-size: 22px;
    }

    .view-all {
      position: static;
    }
  }
  .product-section {
    padding: 40px 16px;
  }
  .carousel-arrow {
    width: 36px;
    height: 36px;
    top: 35%;
  }

  .carousel-arrow.left {
    left: 0px;
    top: 45%;
  }

  .carousel-arrow.right {
    right: 0px;
    top: 45%;
  }
}
